.DS_Store
Library
obj/
Library/*
*.csproj
*.sln*
*.userprefs
Temp
*.pidb
*.bin
_ReSharper*
Build
git@*
*colorMap.png
player.xml
player.xml.mdx
*.suo
.SyncArchive/*
.SyncID
.SyncIgnore
*.cache
Assets/AI/Cache*
Assets/External/RAIN/Editor/RAINSettings.asset
player.xml
player.xml.mdx
player.gak
*.booproj
*.unityproj
*.csproj
